<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="httpRequestHandlerAdapter"
          class="org.springframework.web.servlet.mvc.HttpRequestHandlerAdapter"/>

    <bean class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
        <property name="mappings">
            <props>
                <!-- route bean -->
                <prop key="/rpc/trade/get_brokerage_by_channel_id_for_manager_system">brokerageService</prop>
            </props>
        </property>
    </bean>

    <bean class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
        <property name="mappings">
            <props>
                <!-- route bean -->
                <prop key="/rpc/trade/get_premium_by_channel_id_for_manager_system">premiumService</prop>
            </props>
        </property>
    </bean>

    <!--bean -->
    <bean name="premiumService"
          class="com.inschos.cloud.trading.access.rpc.remoting.hprose.HproseHttpServiceExporter">

        <!-- 实现-->
        <property name="service" ref="premiumServiceImpl"/>
        <!-- 接口-->
        <property name="serviceInterface"
                  value="com.inschos.cloud.trading.access.rpc.service.PremiumService"/>
    </bean>

    <bean name="brokerageService"
          class="com.inschos.cloud.trading.access.rpc.remoting.hprose.HproseHttpServiceExporter">

        <!-- 实现-->
        <property name="service" ref="brokerageServiceImpl"/>
        <!-- 接口-->
        <property name="serviceInterface"
                  value="com.inschos.cloud.trading.access.rpc.service.BrokerageService"/>
    </bean>

</beans>