<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/mvc
		http://www.springframework.org/schema/mvc/spring-mvc.xsd">

	<!-- 引入属性文件 -->
	<context:property-placeholder location="classpath:config.properties" />

	<aop:aspectj-autoproxy />
	<mvc:annotation-driven>
		<mvc:message-converters register-defaults="true">
			<bean class="org.springframework.http.converter.StringHttpMessageConverter">
				<property name="writeAcceptCharset" value="false"/>
				<property name="supportedMediaTypes">
					<list>
						<value>text/html;charset=UTF-8</value>
						<value>application/json;charset=UTF-8</value>
					</list>
				</property>
			</bean>
		</mvc:message-converters>
	</mvc:annotation-driven>

	<mvc:interceptors>
		<mvc:interceptor>
			<!-- 进行拦截 /web 下的controller -->
			<mvc:mapping path="/web/**"/>

			<!-- 排除拦截 -->
			<!--<mvc:exclude-mapping path="/" />-->

			<bean class="com.inschos.cloud.trading.access.http.interceptor.CommonInterceptor">
				<!-- 排除拦截 -->
				<property name="excludedUrls">
					<list>
						<value>/</value>
					</list>
				</property>
			</bean>
		</mvc:interceptor>
	</mvc:interceptors>


	<!-- 自动扫描(自动注入) -->
	<context:component-scan base-package="com.inschos.cloud.trading.access.http.controller"
		use-default-filters="false">
		<context:include-filter type="annotation"
			expression="org.springframework.stereotype.Controller" />
	</context:component-scan>


	<!--异常处理 -->
	<bean id="exceptionResolver" class="com.inschos.cloud.trading.exception.ExceptionHandler" />

	<import resource="spring-hprose.xml"/>


</beans>