<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="httpRequestHandlerAdapter"
          class="org.springframework.web.servlet.mvc.HttpRequestHandlerAdapter"/>
    <bean id="hproseHttpServiceEventExporter" class="com.org.springframework.remoting.hprose.HproseHttpServiceEventExporter"/>

    <bean class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
        <property name="mappings">
            <props>
                <!-- route bean -->
                <prop key="/rpc/brokerage">brokerageService</prop>
                <prop key="/rpc/premium">premiumService</prop>
                <prop key="/rpc/cust_warranty">custWarrantyService</prop>
            </props>
        </property>
    </bean>

    <!--bean -->
    <bean name="premiumService"
          class="com.org.springframework.remoting.hprose.HproseHttpServiceExporter">
        <property name="event" ref="hproseHttpServiceEventExporter"/>
        <property name="debug" value="${rpc.hprose.debug}"/>
        <!-- 实现-->
        <property name="service" ref="premiumServiceImpl"/>
        <!-- 接口-->
        <property name="serviceInterface"
                  value="com.inschos.cloud.trading.access.rpc.service.PremiumService"/>
    </bean>

    <bean name="brokerageService"
          class="com.org.springframework.remoting.hprose.HproseHttpServiceExporter">
        <property name="event" ref="hproseHttpServiceEventExporter"/>
        <property name="debug" value="${rpc.hprose.debug}"/>

        <!-- 实现-->
        <property name="service" ref="brokerageServiceImpl"/>
        <!-- 接口-->
        <property name="serviceInterface"
                  value="com.inschos.cloud.trading.access.rpc.service.BrokerageService"/>
    </bean>

    <bean name="custWarrantyService"
          class="com.org.springframework.remoting.hprose.HproseHttpServiceExporter">
        <property name="event" ref="hproseHttpServiceEventExporter"/>
        <property name="debug" value="${rpc.hprose.debug}"/>
        <!-- 实现-->
        <property name="service" ref="custWarrantyServiceImpl"/>
        <!-- 接口-->
        <property name="serviceInterface"
                  value="com.inschos.cloud.trading.access.rpc.service.CustWarrantyService"/>
    </bean>

</beans>